.navbar{
    position: fixed;
    width: 100%;
    /* box-shadow: 0 0 5px #000; */
    border-radius: 0 0 10px 10px;
    z-index:11;
    background: #fff;
    top: 0;
}

.navbar__top{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: center;;
    margin: 20px 0;
}
.cart--icon{
    position: relative;
}
.numOfProd{
    position: absolute;
    color:#fff;
    background: #ff4858;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    top: -6px;
    right: 0;
    font-size: 10px;
}
.user,.cart--icon,.search{
    display: flex;
    align-items: center;    
    gap:5px;
}
.search input{
    border:none;
    outline:none;
    width: 100px;
}
.user:hover,.cart--icon:hover{
    color:#40BFFF;
    cursor: pointer;
}

.navbar__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
.links{
    display: flex;
    gap:100px;
}
.link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.link:hover{
    color:#40BFFF;
}